@import url('https://fonts.googleapis.com/css?family=Exo+2');

body {
  background-color: #c53211;
  color: #e6dbc9;
  font-family: 'Exo 2', sans-serif;
  max-width: 750px;
  margin: 0px auto;
}

h1 {
  text-transform: uppercase;
  color: #2e3830;
}

h2,
h3 {
  color: #c53211;
  text-transform: uppercase;
  text-align: left;
}

header {
  width: 100%;
  background-color: #c53211;
  text-align: center;
  padding: 10px;
  margin-bottom: 5px;
}

main p {
  width: 590px;
  float: left;
  text-align: justify;
  margin: 0px;
  margin-bottom: 5px;
  padding: 5px;
}

main aside {
  width: 148px;
  float: right;
}

main aside nav {
  border: solid grey 0px;
  padding: 0px;
  /* width: 174px; */
}

main aside nav ul {
  text-align: center;
  display: block;
  padding: 0px;
  margin-top: 5px;
  width: 100%;
}

nav ul li a.button {
  background-color: #c53211;
  border-bottom: solid 2px #2e3830;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px 5px;
  display: block;
  color: #e6dbc9;
}

nav ul li a.button:hover,
a.button.active {
  color: #c53211;
  background-color: #e6dbc9;
  transition: 0.5s ease;
}

li {
  list-style: none;
  text-align: center;
}

main section {
  clear: both;
  background-color: #e6dbc9;
}
main section header {
  padding: 0px;
}
main section header h2 {
  margin: 0px auto;
  margin-bottom: 5px;
  background-color: #2e3830;
  text-align: center;
}
main section ul li {
  display: inline-block;
  margin: 0px auto;
  width: 33%;
}

article {
  display: inline-block;
  width: 100%;
  max-width: 200px;
  color: #2e3830;
  margin: 0px auto;
  padding: 0px;
  height: 300px;
  vertical-align: top;
}

article header {
  width: 90%;
  overflow: hidden;
  background-color: #e6dbc9;
  margin-bottom: 2px;
  padding: 0px;
}

article h3 {
  margin: 0px;
}

article p {
  padding: 0px 10px 0px 0px;
  margin: 0px 2px;
  overflow: auto;
  width: 100%;
  word-wrap: break-word;
}

article img {
  max-width: 160px;
  height: auto;
}

article footer {
  width: 90%;
  padding: 0px;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 8pt;
  text-align: right;
}

article button {
  width: 100%;
  text-transform: uppercase;
  color: #c53211;
  font-weight: bold;
}
