p {
  font-size: 300%;
  margin: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}

nav {
  float: right;
}

li {
  display: inline;
  padding: 5px;
}

a {
  text-decoration: none;
  border: solid 2px black;
  text-transform: uppercase;
  font-size: 150%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  margin-top: 10px;
  border: dashed 1px grey;
  width: 750px;
}

ul {
  margin-top: 20px;
}

#list li {
  display: block;
}
